CHAINLIT_AUTH_SECRET=""

# AWS credentials can be replaced with IRSA for EKS deployments
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
# if you are using sso locally during development
AWS_SESSION_TOKEN=""

LOG_LEVEL=INFO

OAUTH_ENABLED=False
OAUTH_KEYCLOAK_CLIENT_ID=sentinelmind-chainlit
OAUTH_KEYCLOAK_CLIENT_SECRET=""
OAUTH_KEYCLOAK_REALM=SentinelMind
OAUTH_KEYCLOAK_BASE_URL=https://keycloak.sflabs.ustpace.com/
OAUTH_KEYCLOAK_NAME=keycloak
OAUTH_KEYCLOAK_REDIRECT_URI=http://localhost:8000/auth/oauth/keycloak/callback

LOCAL_USERNAME=
LOCAL_PASSWORD=

#API key to connect with gemini model
GOOGLE_API_KEY=
