CHAINLIT_AUTH_SECRET=""

# AWS credentials can be replaced with IRSA for EKS deployments
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
# if you are using sso locally during development
AWS_SESSION_TOKEN=""

LOG_LEVEL=INFO

# ChromaDB configuration
CHROMADB_HOST=
CHROMADB_PORT=
CHROMADB_PERSISTENT_PATH=.chromadb
# http or persistent
CHROMADB_CLIENT_TYPE=persistent


OAUTH_ENABLED=False
OAUTH_KEYCLOAK_CLIENT_ID=sentinelmind-chainlit
OAUTH_KEYCLOAK_CLIENT_SECRET=""
OAUTH_KEYCLOAK_REALM=SentinelMind
OAUTH_KEYCLOAK_BASE_URL=https://keycloak.sflabs.ustpace.com/
OAUTH_KEYCLOAK_NAME=keycloak
OAUTH_KEYCLOAK_REDIRECT_URI=http://localhost:8000/auth/oauth/keycloak/callback

LOCAL_USERNAME=
LOCAL_PASSWORD=

#API key to connect with gemini model
GOOGLE_API_KEY=

# For github related operations in custom lang-graphs
GITHUB_USERNAME=
GITHUB_PERSONAL_ACCESS_TOKEN=

#OpenLit related changes, only applies during deployment

#The below environment variables are only for deployment
#secret to connect with common opentelemetry collector in sflabs kubernetes cluster
OTEL_EXPORTER_OTLP_HEADERS=""
OTEL_EXPORTER_OTLP_ENDPOINT="http://otelcol-opentelemetry-collector.otelcol.svc.cluster.local:4317"
OTEL_EXPORTER_OTLP_PROTOCOL="grpc"

# To integrate slack app
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
