CHAINLIT_AUTH_SECRET=

# AWS credentials can be replaced with IRSA for EKS deployments

AWS_REGION="us-east-1"
# AWS credentials can be replaced with IRSA for EKS deployments
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION="us-east-1"
# if you are using sso locally during development
AWS_SESSION_TOKEN=
# if you are using sso locally during development
LOG_LEVEL=INFO
# if you are using sso locally during development
OAUTH_ENABLED=False
LOCAL_USERNAME=
LOCAL_PASSWORD=
GOOGLE_API_KEY=
CHROMADB_HOST=localhost
CHROMADB_PORT=
CHROMADB_PERSISTENT_PATH=.chromadb
CHROMADB_CLIENT_TYPE=persistent
ENV=prod

#t-mobile
APP_NAME="AI Observe"
ANTHROPIC_API_KEY=

MICROSOFT_APP_ID=
MICROSOFT_APP_PASSWORD=
MICROSOFT_APP_TENANT_ID=

ATLASSIAN_MCP_URL=http://localhost:9000/mcp
ATLASSIAN_API_BASE=https://api.atlassian.com
# For admin APIs
ATLASSIAN_ACCESS_KEY=
ATLASSIAN_ORG_ID=

ATLASSIAN_BASE_URL=https://ust-pace.atlassian.net
ATLASSIAN_USERNAME=
ATLASSIAN_API_TOKEN=

JIRA_ISSUE_TYPE="task"
JIRA_PROJKEY="AAJ"

ALLOWED_ATLASSIAN_SCOPES="ED3"
BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-5-20250929-v1:0