CHAINLIT_AUTH_SECRET=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
# optional if you are using sso locally during development
AWS_SESSION_TOKEN=""

OAUTH_KEYCLOAK_CLIENT_ID=sentinelmind-chainlit
OAUTH_KEYCLOAK_CLIENT_SECRET=""
OAUTH_KEYCLOAK_REALM=SentinelMind
OAUTH_KEYCLOAK_BASE_URL=https://keycloak.sflabs.ustpace.com/
OAUTH_KEYCLOAK_NAME=keycloak
OAUTH_KEYCLOAK_REDIRECT_URI=http://localhost:8000/auth/oauth/keycloak/callback
